<!--- 
    Filename: flash-message.handlebars

    Purpose: Flash Message

    Author: Dominique Henry, Team: 07

    Course: CSC648 SFSU 
--->


<div id="flashMessage">
    {{#if messages.error}}
        <div class="alert alert-danger">{{messages.error}}</div>
    {{else}}
        <div class="alert alert-success">{{messages.success}}</div>
    {{/if}}
</div>