<footer class="text-white footer mt-auto py-3">
    <div class="container text-center">
        <a href="/about-team" class="text-decoration-none">
            <p class="font-italic mb-0 text-white">SFSU CSC648 Team 7</p>
        </a>
        <a href="https://sfsu.edu" class="text-decoration-none">
            <p class="font-italic mb-0 text-white mt-1">Contact Us</p>
        </a>
    </div>
</footer>