<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>NAVIGATION</title>

</head>

<body>

    <nav>
        <div class="logo"><h4>Gater<b style="color: Purple;">T</b>rade</h4></div>
        <div class="search_box">
            <input type="search" placeholder="eg. CSC648">
            <span class="fa fa-search"></span>
        </div>
        <ol class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/">About</a></li>
            <li><a href="#">SignUp</a></li>
            <li><a href="#">Login</a></li>
        </ol>
    </nav>
    
</body>

</html>