{{! <div class="top-nav" id="top-nav">

  <button id="search-button" class="search-button" type="submit"><i class="fa fa-search"></i></button>

  <input class="search-text" id="search-text" name="search-text" type="text">
</div> }}

<nav class="navbar navbar-expand navbar-dark px-2 d-flex flex-row flex-wrap py-0 ">
  <a class="navbar-brand " href="/"><span class="neonText bold px-3">
      <h4>Gater<span style="color: purple">T</span>rader</h4>
    </span></a>

  <div class="navbar-container px-5 ml-sm-1 mr-sm-auto ml-md-1 mr-md-auto ml-xl-1 mr-xl-auto "
    id="navbarSupportedContent">

    <ul class="navbar-nav px-5 d-flex flex-row-reverse flex-wrap ">

      <li class="nav-item active m-auto px-5 my-1 ">
        <a class="nav-link rounded-3 bg-dark px-4 " href="/login">Login</a>
      </li>
      <li class="nav-item active m-auto px-5 my-1">
        <a class="nav-link rounded-3 bg-dark px-4 " href="/signup">Sign Up</a>
      </li>


      <li class="nav-item active m-auto px-5 my-1">
        <a class="nav-link rounded-3 bg-dark px-4" href="/about-team">About</a>
      </li>

      <li class="nav-item active m-auto px-5 my-1">
        <a class="nav-link rounded-3 bg-dark px-4 " href=https://www.sfsu.edu>Contact Us</a>
      </li>


      <li class="nav-item active m-auto px-5 my-1 ">
        <a class="nav-link rounded-3 bg-dark px-4 " href="/">Home</a>
      </li>


      <li class="nav-item btn-group-search active m-auto px-2 my-1 " role="group">
        <form class="container-search input-group rounded-3 bg-grey " method="POST" action="/posts/search">
          <div class="input-group-btn search-panel form-outline ">

            <button type="button" class="btn btn-default dropdown-toggle select" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="search_concept selected" class="selected w-100">All</span>
              <input type="hidden" name="selectedCat" value="All" id="selectedCat" class="selectedCat">
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu scrollable-dropdown " id="dropdown-menu" role="menu"
              onclick="examplePlaceholder()">
              <li><a class="dropdown-item active-item">All</a></li>
              <li><a class="dropdown-item">Videos</a></li>
              <li><a class="dropdown-item">Images</a></li>
              <li><a class="dropdown-item">Music</a></li>
              <li><a class="dropdown-item">Ebooks</a></li>
              <li><a class="dropdown-item">Slides</a></li>
            </ul>
          </div>

          <input type="text" class="search-text" id="search-text" name="searchText" placeholder=" e.g. Janis Joplin" />

          <button id="search-button" class="btn btn-default search-button rounded-end" type="submit" method="POST"
            action="/posts/search">
            <i class="bi bi-search"></i>
          </button>

        </form>

      </li>


    </ul>

  </div>
</nav>