<section class="Meet_Team">
      <h1>
        <span class="wordAbout">Dominique Henry</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
       <!---TODO add your personal info-->
        <img class="imgAboutMe" src="/public/images/Dominique.JPG" />
        <div class="leadWord">
        <h1>Software Engineer</h1></div>
        <div class="singleBox">
          I am a Computer Science undergraduate at San Francisco State University. 
          I am looking into doing UX/UI design or Cybersecurity!
        </div>
      <div class="gitLink">
<a  href="https://github.com/dhenry98">GitHub</a>
      </div>
<h1><a href="/">Back to Home</a></h1>
      </div>

    </section>