<section class="meet-team">
  <h1>
    <span class="word-about">Gineton Alencar</span>
  </h1>
</section>
<!-- profile pics and about me -->

<section class="pictures main-container">
  <div class="ceo divisor">
    <img class="img-about-me" src="../public/images/gineton-portrait.jpeg" />
    <div class="lead-word">
      <h1>Team Lead</h1>
    </div>
    <div class="single-box">
      I am a senior undergraduate computer science major at San Francisco State
      University expecting to graduate Fall 2022 with a Bachelor of Science in
      Computer Science and a Certificate in Data Science and Machine Learning
      for Biotechnology. I have worked on projects and coursework that have
      given me experience in machine learning, web development, embedded
      software, and virtual and augmented reality. I have years of experience
      instructing and supporting students with disabilities as a paraeducator. I
      am fluent in English and Portuguese and some proficiency in Italian and
      Spanish.
    </div>
    <div class="git-link">
      <a href="https://github.com/Gineton2">GitHub</a>
    </div>
    <h1><a href="/">Back to Home</a></h1>
  </div>
</section>