<section class="Meet_Team">
      <h1>
        <span class="word1">Duccio Rocca</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
      
        <img class="imgAboutMe" src="/public/duccio_closeup.jpg" />
      
        <h1>Backend Lead</h1>
        <div class="singleBox">
          I am a Graduate student at SFSU. 
          My favorite programmming language are Java and Javascript.
          I have also programmed in C, C++, html, css, Python, SQL. 
          I have an expreience as a Teaching Assistant at City College of San Francisco.
          My background is in Legale studies.
          I am originally from Italy.
        </div>
      <div class="gitLink">
<a  href="https://github.com/RINO-GAELICO">GitHub</a>
      </div>
<h1><a href="/">Back to Home</a></h1>
      </div>

    </section>

