<div>
  <div class="container py-5">
    <div class="row h-100 align-items-center py-3 ">
      <div class="col-lg-6 ">

        <h1 class="display-3 text-center bold text-white bg-dark m-4">About Our Team</h1> <br><br><br>
        <h4 class="lead mb-0 text-center text-white">Software Engineering class SFSU <br>
          Fall, 2022 <br>
          Section 03 <br>
          Team 07 <br><br><br> <br>
        </h4>

        <h5 class="lead mb-0 text-center text-white ">"Talent wins games,
          <br>but teamwork and intelligence <br>win championships."<br><br>
          <h4 class="lead mb-5 text-center text-white"> -Michael Jordan</h4>
        </h5>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="/public/images/team.jpeg" alt="Team Photo" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="py-3 text-center">
  <div class="container py-3 text-center">
    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-gineton">
          <div class=" rounded "><img src="/public/images/gineton-portrait.jpeg" alt="Team Member" width="100"
              height="100" class=" rounded-circle shadow">
            <h5 class="mb-0">Gineton Alencar</h5><span class="small text-uppercase text-muted">Team Lead</span>

          </div>
        </a>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-eddie-fu">
          <div class=" rounded "><img src="/public/images/eddie-picture.jpeg" alt="Team Member" width="100" height="100"
              class=" rounded-circle   shadow">
            <h5 class="mb-0">Eddie Fu</h5><span class="small text-uppercase text-muted">Frontend Lead</span>

          </div>
        </a>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-yoshimasa-iwano">
          <div class=" rounded "><img src="/public/images/yoshimasa-picture.jpeg" alt="Team Member" width="100"
              height="100" class=" rounded-circle   shadow">
            <h5 class="mb-0">Yoshimasa Iwano</h5><span class="small text-uppercase text-muted">Backend</span>

          </div>
        </a>
      </div>


      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-duccio">
          <div class=" rounded  "><img src="/public/images/duccio-closeup.jpeg" alt="Team Member" width="100"
              height="100" class=" rounded-circle  shadow">
            <h5 class="mb-0">Duccio Rocca</h5><span class="small text-uppercase text-muted">Backend Lead</span>

          </div>
        </a>
      </div>
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-dominique">
          <div class=" rounded "><img src="/public/images/Dominique.jpeg" alt="Team Member" width="100" height="100"
              class=" rounded-circle  shadow">
            <h5 class="mb-0">Dominique Henry</h5><span class="small text-uppercase text-muted">Github</span>

          </div>
        </a>
      </div>
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-kobe">
          <div class=" rounded "><img src="/public/images/kobe-profile.jpeg" alt="Team Member" width="100" height="100"
              class=" rounded-circle   shadow">
            <h5 class="mb-0">Kobe Shelby</h5><span class="small text-uppercase text-muted">FrontEnd</span>

          </div>
        </a>
      </div>
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-raid">
          <div class=" rounded  "><img src="/public/images/rai-d.jpeg" alt="Team Member" width="100" height="100"
              class=" rounded-circle  shadow">
            <h5 class="mb-0">Rai'd Muhammad</h5><span class="small text-uppercase text-muted">FrontEnd</span>

          </div>
        </a>
      </div>
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/">
          <div class=" rounded  "><img src="/public/images/internet.jpeg" alt="Team Member" width="100" height="100"
              class=" rounded-circle   shadow">
            <h5 class="mb-0">The Internet</h5><span class="small text-uppercase text-muted">Helpful Resource</span>

          </div>
        </a>
      </div>


      <!-- End-->

    </div>
  </div>
</div>


<footer class="pb-5 text-white">
  <div class="container text-center">
    <a href="/about-team" class="text-decoration-none">
      <p class="font-italic mb-0 text-white py-2">SFSU CSC648 Team 7</p>
    </a>
  </div>
</footer>