<!---
    Filename: about-eddie.handlebars

    Purpose: about page info 

    Author: About info for student, Team: 07

    Course: CSC648 SFSU 
--->


<section class="meet-team">
  <h1>
    <span class="word-about">Eddie Fu</span>
  </h1>
</section>
    <!---Team profile pics and about me-->
    
<section class="pictures main-container">
  <div class="ceo divisor">
    <img class="img-about-me" src="/public/images/eddie-picture.jpeg" />
    <div class="lead-word">
      <h1>Frontend Lead</h1>
    </div>
  
    <div class="single-box">
      I am a 4th year Undergratuate senior student at SFSU. 
      My favorite programmming language are JavaScript and Java.
      My favorite sports are basketball and baseball.<br> 
      I am also a Certified Personal Trainer. 
      I am originally from Taiwan and am fluent in both Mandarin and English.
    </div>
    <div class="git-link">
      <a  href="https://github.com/eddiefu1">GitHub</a>
    </div>
    <h1><a href="/">Back to Home</a></h1>
  </div>
</section>