<!--- 
    Filename: about-kobe.handlebars

    Purpose: about page info 

    Author: Kobe Shelby, Team: 07

    Course: CSC648 SFSU 
--->


<section class="meet-team mt-4" >
  <h1>
    <span class="word-about ">Kobe Shelby</span>
  </h1>
</section>
    <!---Team profile pics and about me-->
    
<section class="pictures main-container">
  <div class="ceo divisor">
  
    <img class="img-about-me" src="/public/images/kobe-profile.jpeg" />
    <div class="lead-word text-muted ">
      <h1>Frontend - Software Engineer</h1>
    </div>
  
    <div class="single-box text-center mb-5">
      I am a senior College student at SFSU. 
      I have passion for computer science and want to pursue a career in web development.
      My main languages are HTML, CSS, JavaScript. <br> I have also programmed in Java, C++, Python, and C<br> 
      I love to workout, play sports, and meet new people.
      
    </div>
    <div class="git-link">
      <a class="h3 text-decoration-none text-warning" href="https://github.com/Kobe040102">GitHub</a>
    </div>
    <h1><a class="h4 text-decoration-none text-info" href="/">Back to Home</a></h1>
  </div>
</section>

