<section class="Meet_Team">
  <h1>
    <span class="wordAbout">Yoshimasa Iwano</span>
  </h1>
</section>
<!---Team profile pics and about me-->

<section class="Pictures main-container">
  <div class="CEO divisor">
  
    <img class="imgAboutMe" src="/public/yoshimasa-picture.jpg" />
    <div class="leadWord">
    <h1>Github Master</h1></div>
    <div class="singleBox">
      I am a Graduate student at SFSU. 
      In my undergraduate, I was doing research on image recognition at University of Tsukuba in Japan.<br />
      Now, I switched to learn Software Engineering at SFSU. <br/>
      I'm familiar with Python, PyTorch, JavaScript, and React. 
    </div>
  <div class="gitLink">
  <a  href="https://github.com/YoshimasaIwano">GitHub</a>
  </div>
    <h1><a href="/">Back to Home</a></h1>
  </div>

</section>

