<section class="Meet_Team">
      <h1>
        <span class="wordAbout">Duccio Rocca</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
       <!---TODO add your personal info-->
        <img class="imgAboutMe" src="/public/images/duccio-closeup.jpg" />
        <div class="leadWord">
        <h1>Backend Lead</h1></div>
        <div class="singleBox">
          I am a Graduate student at SFSU. 
          My favorite programmming language are Java and Javascript.
          I have also programmed in C, <br>C++, html, css, Python, and SQL.<br> 
          I have an experience as a Teaching Assistant at City College of San Francisco.
          My background is in Legal studies.
          I am originally from Italy.
        </div>
      <div class="gitLink">
<a  href="https://github.com/RINO-GAELICO">GitHub</a>
      </div>
<h1><a href="/">Back to Home</a></h1>
      </div>

    </section>