<section class="Meet_Team">
      <h1>
        <span class="wordAbout">Kobe Shelby</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
      
        <img class="imgAboutMe" src="../public/KobeShelby.jpg" />
        <div class="leadWord">
        <h1>Frontend Lead</h1></div>
        <div class="singleBox">
          I am a senior College student at SFSU. 
          I have passion for computer science and want to pursue a career in web development.
          My main languages are HTML, CSS, JavaScript. <br>I have also programmed in Java, C++, Python, and C<br> 
          I love to workout, play sports, and meet new people.
          
        </div>
      <div class="gitLink">
<a  href="https://github.com/Kobe040102">GitHub</a>
      </div>
<h1><a href="/">Back to Home</a></h1>
      </div>

    </section>

