{{!-- <section class="meet-team">
  <h1>
    <span class="word1">Meet the </span><span class="word2">Team</span>
  </h1>
  <h4 class="header-fall22">Software Engineering class SFSU <br>
    &lt; Fall, 2022 &gt; <br>
    Section 03 <br>
    Team 07
  </h4>
</section>
    <!---Team profile pics and about me-->
    
<section class="pictures main-container">
  <div class="team-leader">
    <div class="person">
      <a href="/about-gineton"><img src="/public/images/gineton-portrait.jpeg"/></a>
      <h1 class="name">Gineton Alencar</h1>
      <h1 class="position">Team lead</h1>
    </div>
  </div>
  <div class="members">
    <div class="person">
      <a id="frontendLeadLink" href="/about-eddie-fu"><img src="/public/images/eddie-picture.JPG" alt="About"/></a>
      <h1 class="name">Eddie Fu</h1>
      <h1 class="position">Frontend Lead</h1>
    </div>
    <div class="person">
      <a id="githubMasterLeadLink" href="/about-yoshimasa-iwano"><img src="/public/images/yoshimasa-picture.jpg" /></a>  
      <h1 class="name">Yoshimasa Iwano</h1>
      <h1 class="position">GitHub Master</h1>
    </div>
    <div class="person">
      <a id="backendLeadLink" href="/about-duccio"><img src="/public/images/duccio-closeup.jpg" /></a>
      <h1 class="name">Duccio Rocca</h1>
      <h1 class="position">Backend Lead</h1>
    </div>
    <div class="person">
      <a id="gitHub" href="/about-dominique"><img src="/public/images/Dominique.JPG" /></a>
      <h1 class="name">Dominique Henry</h1>
      <h1 class="position">GitHub</h1>
    </div>
    <div class="person">
      <a id="frontend" href="/about-kobe"><img src="/public/images/kobe-profile.jpg" /></a>
      <h1 class="name">Kobe Shelby</h1>
      <h1 class="position">Frontend</h1>
    </div>
    <div class="person">
      <a id="backend" href="/about-raid"><img src="/public/images/silhouette.jpg" /></a>
      <h1 class="name">Rai’d S. Muhammad</h1>
      <h1 class="position">Backend</h1>
    </div>
  </div>
</section>

<section class="team-info">
  <h1>Talent wins games, <br>but teamwork and intelligence <br>win championships.<br> (Michael Jordan)</h1>
</section> --}}

<div class="">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 text-center text-white">About us and Our Team</h1> <br><br><br>
        <h4 class="lead mb-0 text-center text-white">Software Engineering class SFSU <br>
   Fall, 2022  <br>
    Section 03 <br>
    Team 07 <br><br><br> <br>
  </h4>
      
        <h5 class="lead mb-0 text-center text-white">"Talent wins games, 
          <br>but teamwork and intelligence <br>win championships."<br><br>
          <h4 class="lead mb-5 text-center text-white"> -Michael Jordan</h4>
        </h5>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="/public/images/team.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>

<div class="py-5 text-center">
  <div class="container py-5 text-center">
    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-gineton">
        <div class="bg-gradient-primary rounded shadow-lg py-5 px-5"><img src="/public/images/gineton-portrait.jpeg" alt="" width="100" 
        class="img-fluid rounded-circle mb-4 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gineton Alencar</h5><span class="small text-uppercase text-muted">Team Lead</span>
          <ul class="social mb-0 list-inline mt-3">
           <div></div>
          </ul>
        </div>
        </a>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-eddie-fu">
        <div class="bg-gradient-primary rounded shadow-lg py-5 px-5"><img src="/public/images/eddie-picture.JPG" alt="" width="100" 
        class="img-fluid rounded-circle mb-1 img-thumbnail shadow-sm">
          <h5 class="mb-0">Eddie Fu</h5><span class="small text-uppercase text-muted">Frontend Lead</span>
          <ul class="social mb-0 list-inline mt-3">
            
          </ul>
        </div>
        </a>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-yoshimasa-iwano">
        <div class="bg-gradient-primary rounded shadow-lg py-5 px-5"><img src="/public/images/yoshimasa-picture.jpg" alt="" width="100" 
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Yoshimasa Iwano</h5><span class="small text-uppercase text-muted">Backend</span>
          <ul class="social mb-0 list-inline mt-3">
           
          </ul>
        </div>
        </a>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-duccio">
        <div class="bg-gradient-primary rounded shadow-lg py-5 px-5"><img src="/public/images/duccio-closeup.jpg" alt="" width="100" 
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Duccio Rocca</h5><span class="small text-uppercase text-muted">Backend Lead</span>
          <ul class="social mb-0 list-inline mt-3">
          </ul>
        </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-dominique">
        <div class="bg-gradient-primary rounded shadow-lg py-5 px-5"><img src="/public/images/Dominique.JPG" alt="" width="100" 
        class="img-fluid rounded-circle mb-4 img-thumbnail shadow-sm">
          <h5 class="mb-0">Dominique Henry</h5><span class="small text-uppercase text-muted">Github</span>
          <ul class="social mb-0 list-inline mt-3">
            
          </ul>
        </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-kobe">
        <div class="bg-gradient-primary rounded shadow-lg py-5 px-5"><img src="/public/images/kobe-profile.jpg" alt="" width="100" 
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Kobe Shelby</h5><span class="small text-uppercase text-muted">FrontEnd</span>
          <ul class="social mb-0 list-inline mt-3">
            
          </ul>
        </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href="/about-raid">
        <div class="bg-gradient-primary rounded shadow-lg py-4 px-5"><img src="/public/images/rai-d.jpg" alt="" width="100" 
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Rai'd Muhammad</h5><span class="small text-uppercase text-muted">FrontEnd</span>
          <ul class="social mb-0 list-inline mt-3">
            
          </ul>
        </div>
        </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-5">
        <a class="lead mb-0 text-center text-white text-decoration-none" href= "/">
        <div class="bg-gradient-primary rounded shadow-lg py-5 px-5"><img src="/public/images/internet.jpg" alt="" width="100" 
        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">The Internet</h5><span class="small text-uppercase text-muted">Helpful Resource</span>
          <ul class="social mb-0 list-inline mt-3">
            
          </ul>
        </div>
        </a>
      </div>
    
      
      <!-- End-->

    </div>
  </div>
</div>


<footer class="pb-5 text-white">
  <div class="container text-center">
    <p class="font-italic mb-0 text-white">SFSU CSC648 Team 7</p>
  </div>
</footer>
