<!--- 
    Filename: about-duccio.handlebars

    Purpose: about page info 

    Author: Duccio Rocca, Team: 07

    Course: CSC648 SFSU 
--->


<section class="meet-team mt-4">
  <h1>
    <span class="word-about">Duccio Rocca</span>
  </h1>
</section>
    <!---Team profile pics and about me-->
    
<section class="pictures main-container">
  <div class="ceo divisor">
    <img class="img-about-me" src="../public/images/duccio-closeup.jpeg" />
    <div class="lead-word text-muted">
      <h1>Backend Lead</h1>
    </div>
  
    <div class="single-box text-center mb-5">
      I am a Graduate student at SFSU. 
      My favorite programmming language are Java and Javascript.
      I have also programmed in C, <br>C++, html, css, Python, and SQL.<br> 
      I have an experience as a Teaching Assistant at City College of San Francisco.
      My background is in Legal studies.
      I am originally from Italy.
    </div>
    <div class="git-link">
      <a class="h3 text-decoration-none text-warning" href="https://github.com/RINO-GAELICO">GitHub</a>
    </div>
    <h1><a class="h4 text-decoration-none text-info" href="/">Back to Home</a></h1>
  </div>
</section>

