<section class="meet-team">
  <h1>
    <span class="word-about">Dominique Henry</span>
  </h1>
</section>
    <!---Team profile pics and about me-->
    
<section class="pictures main-container">
  <div class="ceo divisor">
    <!---TODO add your personal info-->
    <img class="img-about-me" src="../public/images/Dominique.jpeg" />
    <div class="lead-word">
      <h1>Software Engineer</h1>
    </div>
  
    <div class="single-box">
      I am a Computer Science undergraduate at San Francisco State University. 
      I am looking into doing UX/UI design or Cybersecurity!
    </div>
    <div class="git-link">
      <a  href="https://github.com/dhenry98">GitHub</a>
    </div>
    <h1><a href="/">Back to Home</a></h1>
  </div>
</section>