<section class="Meet_Team">
      <h1>
        <span class="wordAbout">Eddie Fu</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
      
        <img class="imgAboutMe" src="/public/eddie-picture.jpg" />
        <div class="leadWord">
        <h1>Frontend Lead</h1></div>
        <div class="singleBox">
          I am a 4th year Undergratuate senior student at SFSU. 
          My favorite programmming language are JavaScript and Java.
          My favorite sports are basketball and baseball.<br> 
          I am also a Certified Personal Trainer. 
          I am originally from Taiwan and am fluent in both Mandarin and English.
        </div>
      <div class="gitLink">
<a  href="https://github.com/eddiefu1">GitHub</a>
      </div>
<h1><a href="/">Back to Home</a></h1>
      </div>

    </section>