<!---
    Filename: about-eddie.handlebars

    Purpose: about page info 

    Author: About info for student, Team: 07

    Course: CSC648 SFSU 
--->


<section class="meet-team mt-4">
  <h1>
    <span class="word-about">Eddie Fu</span>
  </h1>
</section>
    <!---Team profile pics and about me-->
    
<section class="pictures main-container">
  <div class="ceo divisor">
    <img class="img-about-me" src="/public/images/eddie-picture.jpeg" />
    <div class="lead-word text-muted ">
      <h1>Frontend Lead</h1>
    </div>
  
    <div class="single-box text-center mb-5">
      I am a 4th year Undergratuate senior student at SFSU. 
      My favorite programmming language are JavaScript and Java.
      My favorite sports are basketball and baseball.<br> <br>
      I am also a Certified Personal Trainer. 
      I am originally from Taiwan and am fluent in both Mandarin and English.
    </div>
    <div class="git-link">
      <a class="h3 text-decoration-none text-warning"  href="https://github.com/eddiefu1">GitHub</a>
    </div>
    <h1><a class="h4 text-decoration-none text-info" href="/">Back to Home</a></h1>
  </div>
</section>