<section class="meet-team">
  <h1>
    <span class="word-about">Rai'd Muhammad</span>
  </h1>
</section>
    <!---Team profile pics and about me-->
    
<section class="pictures main-container">
  <div class="ceo divisor">
  
    <img class="img-about-me" src="/public/images/silhouette.jpg" />
    <div class="lead-word">
      <h1>Software Engineer</h1>
    </div>
  
    <div class="single-box">
      I am an Undergraduate Student attending SFSU. 
      My favorite programmming language is TypeScript. I have completed programs
        in <br>C++, html, Java and Javascript. <br> 
      I am originally from Virginia and have continued my Studies in CA. My previous 
      major was biology but Computer Science peaked my interest. 
    </div>
    <div class="git-link">
      <a  href="https://github.com/muhammad14u2c">GitHub</a>
    </div>
    <h1><a href="/">Back to Home</a></h1>
  </div>
</section>

