<!--- 
    Filename: about-yoshimasa-iwano.handlebars

    Purpose: about page info 

    Author: Yoshimasa Iwano, Team: 07

    Course: CSC648 SFSU 
--->


<section class="meet-team">
  <h1>
    <span class="word-about">Yoshimasa Iwano</span>
  </h1>
</section>
<!---Team profile pics and about me-->

<section class="pictures main-container">
  <div class="ceo divisor">
    <img class="img-about-me" src="../public/images/yoshimasa-picture.jpeg" />
    <div class="lead-word">
      <h1>Github Master</h1>
    </div>
  
    <div class="single-box">
      I am a Graduate student at SFSU. 
      In my undergraduate, I was doing research on image recognition at University of Tsukuba in Japan.<br />
      Now, I switched to learn Software Engineering at SFSU. <br/>
      I'm familiar with Python, PyTorch, JavaScript, and React. 
    </div>
    <div class="git-link">
      <a  href="https://github.com/YoshimasaIwano">GitHub</a>
    </div>
    <h1><a href="/">Back to Home</a></h1>
  </div>
</section>

