<!--- 
    Filename: dashboard.handlebars

    Purpose: User Dashboard

    Author: Gineton Alencar, Team: 07

    Course: CSC648 SFSU 
--->


<div class="container py-5">

    <div class="row h-100 align-items-center py-1 m-2">
        <h2>
            <p class="text-center text-white ">User Dashboard</p>
        </h2>
        <div class="btn-toolbar justify-content-center " role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2 m-3" role="group" aria-label="Button group example">
                <button type="button" class="btn btn-secondary btn-lg btn-block me-4">Main Dashboard</button>

                <button type="button" class="btn btn-secondary btn-lg btn-block me-4">Account</button>
            </div>


        </div>
        {{!-- Hardcoded Name for Idea of Dashboard Style --}}
        <div class="col-lg-3 ">
            <h2 class="text-white px-5">
                <p>Hi, Jonah</p>
            </h2>
            <img src="/public/images/icons/user.jpeg" alt="profile" class="mx-3">
            <div>

            </div>

        </div>
        <div class="accordion accordion-flush col-9 px-5" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <h4>Recent Messages</h4>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-center">You have 1 unread <a href="#">message.</a></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <h4>Created Post</h4>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-center">You have created <a href="#"> 3 Posts</a></div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <h4>Pending Posts</h4>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-center">You have <a href="#">2 Pending Posts</a></div>
                </div>
            </div>
        </div>




    </div>


</div>
{{!-- <div class="container py-5 ">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">You have earned $50 from your post.</h5>
                    <p class="card-text">Post more, acquire more revenue</p>
                    <a href="#" class="btn btn-success text-center">Insight</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">You have 20 Total Messages </h5>
                    <p class="card-text">Alaiya is interested in your Audio. Click to View all messages.</p>
                    <a href="#" class="btn btn-success text-center">Respond</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Activity</h5>
                    <p class="card-text">3 posts made in the last week. Would you like to update Post?</p>
                    <a href="#" class="btn btn-success text-center">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">1 Post has been denied. </h5>
                    <p class="card-text">Contact the admin for review status/decisions.</p>
                    <a href="#" class="btn btn-success text-center">Review Post</a>
                </div>
            </div>
        </div>
    </div>
</div> --}}
