  <form id="form" class="grid-container_form_register" method="POST" action="/users/register">
        <div class="containerForm_message">
        <fieldset>
            <input id="Username" name="username" placeholder="Username" required >
            <div id="messageUser" class="messages message_Username">m1 &#10003; </div>
            <input autocomplete="off" id="Email" name="Email" type="email" required placeholder="Email" >
            <div id="messageEmail" class="messages message_Email">m2 &#10003</div>
            <input id="Password" name="password" type="password" placeholder="Password" required>
            <div id="messagePassword"  class="messages message_Password">m3 &#10003; </div>
            <input id="Confirm-Password" name="Confirm_Password" type="password" placeholder="Confirm Password" required>
            <div id="messageConfirmPass"  class="messages message_ConfirmedPassword">m4 &#10003; </div>
        </fieldset>
        </div>