<!--HomePage--->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="/public/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css" >
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <title>Home Page</title>
  </head>
  <!---Header starts--->

  {{!-- <header id="Head">
    <section class="Title">
      <h1>Team <span class="Special_num">7</span></h1>
    </section>
  </header> --}}

  <!---Body starts--->
  <body class="paperOverlay">
    {{> navbar}}
    {{{body}}}
  </body>
</html>
