<!--- 
    Filename: index.handlebars

    Purpose: page to display search results 

    Author: Yoshimasa Iwano, Duccio Rocca, Kobe Shelby Team: 07

    Course: CSC648 SFSU 
--->
<div id="warning" class="border bg-white text-danger rounded-2 text-center w-50 my-2 mx-auto" hidden="true">
    invalid character! Use Alphanumeric characters
</div>
{{#if imageFalse}} 
{{else}}
<img id="mainpage-picture" class="w-100" src="/public/images/mainpage-picture.jpeg" alt="mainpage picture"/>
{{/if}}
<h4 id="search-condition" class="text-left text-white px-2 my-2 mx-2" >
    {{#if condition}} {{condition}} {{/if}}
</h4>
<h5 id="photo-count" class="photo-count text-left text-white px-2 my-2 mx-2" >
    {{#if message}} {{message}} {{/if}}
</h5>
<div id="container" class="container px-0">
    <p id="greeting" class="text-center font-weight-bold text-white text-uppercase" style="font-size:25px; font-family: serif">Buy, sell, and share
  digital
  media. By Gaters, for Gaters!</p>
    <div id="main-content" class="main-content d-flex flex-row flex-wrap mx-0 px-0">
        {{#each results}}
            {{> card this}}
        {{/each}}
    </div>

</div>
