<!--- 
    Filename: index.handlebars

    Purpose: page to display search results 

    Author: Yoshimasa Iwano, Duccio Rocca, Kobe Shelby Team: 07

    Course: CSC648 SFSU 
--->


<img id="mainpage-picture" class="w-100" src="/public/images/mainpage-picture.jpeg" alt="mainpage picture"/>

<h4 id="search-condition" class="text-left px-2 my-2 mx-2" >
    {{#if condition}} {{condition}} {{/if}}
</h4>
<h5 id="photo-count" class="photo-count text-left text-black-50 px-2 my-2 mx-2" >
    {{#if message}} {{message}} {{/if}}
</h5>
<div id="container" class="container px-0">
    <div id="main-content" class="main-content d-flex flex-row flex-wrap mx-0 px-0">
        
        
        {{#each results}}
                {{> card this}}
            {{/each}}

           
    </div>
    <footer class="pb-3 text-white">
    <div class="container text-center">
        <a href="/about-team" class="text-decoration-none"><p class="font-italic mb-0 text-white">SFSU CSC648 Team 7</p></a> 
    </div>
</footer>
</div>
