<section class="Meet_Team">
      <h1>
        <span class="word1">Meet the </span><span class="word2">Team</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
        <img src="/public/gineton-portrait.jpeg" />
        <h1>Gineton Alencar</h1>
        <h1>Team lead</h1>
        <h1><a href="/about-gineton">About</a></h1>
      </div>
      <div class="Leads1 divisor">
        <img src="/public/user-pin.png" />
        <img src="/public/yoshimasa-picture.jpg" />
        <img src="/public/duccio-closeup.jpg" />
      </div>
      <div class="LeadNames1">
        <h1>Eddie Fu</h1>
        <h1>Yoshimasa Iwano</h1>
        <h1>Duccio Rocca</h1>
      </div>
      <div class="Positions1">
        <h1>Frontend Lead</h1>
        <h1>GitHub Master</h1>
        <h1>Backend Lead</h1>
      </div>

      <div class="linkAbout1">
        <h1><a id="frontendLeadLink" href="/aboutMe">About</a></h1>
        <h1><a id="githubMasterLeadLink" href="/about-yoshimasa-iwano">About</a></h1>
        <h1><a id="backendLeadLink" href="/aboutMe">About</a></h1>
      </div>

      <div class="Leads2 divisor">
        <img src="/public/user-pin.png" />
        <img src="/public/user-pin.png" />
        <img src="/public/user-pin.png" />
      </div>
      <div class="LeadNames2">
        <h1>Dominique Henry</h1>
        <h1>Kobe Shelby</h1>
        <h1>Rai’d S. Muhammad</h1>
      </div>
      <div class="Positions2">
        <h1>GitHub</h1>
        <h1>Frontend</h1>
        <h1>Backend</h1>
      </div>

      <div class="linkAbout2">
        <h1><a id="gitHub" href="/aboutMe">About</a></h1>
        <h1><a id="frontend" href="/aboutMe">About</a></h1>
        <h1><a id="backend" href="/aboutMe">About</a></h1>
      </div>

    </section>
    
    <section class="TeamInfo">
      <h1>About the Team</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, obcaecati? Voluptas neque cupiditate sed laudantium accusamus veniam minima recusandae sunt. Adipisci ex id eos odio totam quod vitae incidunt consectetur molestias nobis quasi, earum soluta deleniti eligendi nesciunt voluptas, voluptatem veritatis laudantium accusamus delectus. Temporibus impedit nihil consequuntur consectetur ratione sit mollitia eum deleniti officia iste labore eaque ut dolor incidunt minus placeat, vel libero suscipit, reiciendis voluptate earum quod tempora ipsa. Laborum quia ex mollitia necessitatibus rerum expedita numquam quis molestias, itaque alias voluptates maxime corporis et voluptatibus sit!</p>
    </section>