<section class="Meet_Team">
      <h1>
        <span class="word1">Meet the </span><span class="word2">Team</span>
      </h1>
      <h4 class="header-fall22">Software Engineering class SFSU <br>
&lt; Fall, 2022 &gt; <br>
Section 03 <br>
Team 07</h4>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
        
        <img src="/public/gineton-portrait.jpeg">
        <h1>Gineton Alencar</h1>
        <h1>Team lead</h1>
        <h1><a href="/about-gineton">About</a></h1>
      </div>
      <div class="Leads1 divisor">
        <img src="/public/eddie-picture.JPG" />
        <img src="/public/yoshimasa-picture.jpg" />
        <img src="/public/duccio-closeup.jpg" />
      </div>
      <div class="LeadNames1">
        <h1>Eddie Fu</h1>
        <h1>Yoshimasa Iwano</h1>
        <h1>Duccio Rocca</h1>
      </div>
      <div class="Positions1">
        <h1>Frontend Lead</h1>
        <h1>GitHub Master</h1>
        <h1>Backend Lead</h1>
      </div>

      <div class="linkAbout1">
        <h1><a id="frontendLeadLink" href="/about-eddie-fu">About</a></h1>
        <h1><a id="githubMasterLeadLink" href="/about-yoshimasa-iwano">About</a></h1>
        <h1><a id="backendLeadLink" href="/about-duccio">About</a></h1>
      </div>

      <div class="Leads2 divisor">
        <img src="/public/user-pin.png" />
        <img src="/public/kobe-profile.jpg" />
        <img src="/public/silhouette.jpg" />
      </div>
      <div class="LeadNames2">
        <h1>Dominique Henry</h1>
        <h1>Kobe Shelby</h1>
        <h1>Rai’d S. Muhammad</h1>
      </div>
      <div class="Positions2">
        <h1>GitHub</h1>
        <h1>Frontend</h1>
        <h1>Backend</h1>
      </div>

      <div class="linkAbout2">
        <h1><a id="gitHub" href="/aboutMe">About</a></h1>
        <h1><a id="frontend" href="/about-kobe">About</a></h1>
        <h1><a id="backend" href="/about-raid">About</a></h1>
      </div>

    </section>
    
    <section class="TeamInfo">
      <h1>Talent wins games, <br>but teamwork and intelligence <br>win championships.</h1>
    </section>