<!--- 
    Filename: make-post.handlebars

    Purpose: Make post page 

    Author: Rai'd Muhammad Team: 07

    Course: CSC648 SFSU 
--->


<div class="container  " style="position: relative;">
    <h2 class=" text-center mb-4 text-white mt-2">Make a Post</h2>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-sm-4 g-3 mask d-flex align-items-center px-2 ">

        <div class="col col-sm-3 mx-4">

        </div>
        <div class="col col-lg-5 col-sm-2 align-items-center ">
            <div class="card  shadow-sm ">
                <div class="card-body ">
                    <input class="form-control form-control-lg" id="postFormFileData" type="file" />
                    <div class="clearfix my-1"> <span class="badge rounded-pill bg-success px-2 fw-bold">Accepted
                            File Types</span> <span class="px-1 fw-bold ">JPEG, MOV, PDF,WAV,MP4, MP3</span>
                    </div>
                    <form class="mx-1 mx-md-5">

                        <div class="form-outline mb-2 p-1">
                            
                            <div type="text" id="postName" class=" border-none text-center text-uppercase fw-bold mb-2 mt-1"> User Name Here {{username}} </div>
                           

                        </div>

                        <div class="form-outline mb-2">
                            <div class="fields-two text-center bold">
                                <label class="form-label" for="form3">Title</label>
                            </div>
                            <input type="text" id="postTitle" class="form-control form-control-lg border border-dark"
                                placeholder="Enter Post title" />

                        </div>

                        <div class="form-outline mb-2">
                            <div class="fields-three text-center bold">
                                <label class="form-label" for="postCategory">Category</label>
                            </div>
                            <div class="input-group mb-2">
                                <select class="custom-select w-100 p-2" id="postCategoryDropdown">
                                    <option selected>Choose...</option>
                                    <option value="1">Video</option>
                                    <option value="2">Photo</option>
                                    <option value="3">Digital Image</option>
                                    <option value="3">Course Material</option>
                                    <option value="3">Audio</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-outline mb-2">
                            <div class="fields-two text-center bold">
                                <label class="form-label" for="postPrice">Price</label>
                            </div>
                            <input type="text" id="form3Example1cg"
                                class="form-control form-control-lg border border-dark"
                                placeholder="Enter Post Price" />

                        </div>

                        <div class="form-outline mb-1">
                            <div class="fields-twotext-center bold">
                                <div class="md-form text-center ">
                                    <label for="description">
                                        <h4>Description</h4>
                                    </label>
                                    <textarea type="text" id="description" name="description" rows="3"
                                        class="form-control md-textarea"></textarea>
                                        <p class="text-center"> *All fields required.</p>

                                </div>
                            </div>


                        </div>

                        <div class="d-flex justify-content-center mx-4 col-12">
                            <button type="button" class="btn btn-success btn-block text-center btn-lg mt-3 ">Make
                                Post</button>
                            <div class="d-flex justify-content-center mx-5 px-4">
                                <a href="/"><button type="button" class="btn btn-warning btn-block text-center btn-lg mt-3">Cancel
                                    Post</button></a>
                                
                            </div>

                        </div>




                    </form>


                </div>
            </div>
        </div>


    </div>

</div>