<!--- 
    Filename: make-post.handlebars

    Purpose: Make post page 

    Author: Rai'd Muhammad Team: 07

    Course: CSC648 SFSU 
--->


<div class="container-fluid  py-5 " style="position: relative;">
    <h2 class=" text-center mb-5 text-white">Make a Post</h2>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 ">

        <div class="col col-sm-3 px-5">
         
    
        </div>
        <div class="col col-lg-5 col-sm-2  m-5 ">
            <div class="card  shadow-sm ">
                <div class="card-body ">
                    
                    <form class="mx-1 mx-md-4" method="POST" enctype="multipart/form-data"  action='/posts/createPost'>
                       
                   

                        <div class="form-outline mb-4 p-2">
                            <div class="fields-one text-center bold">
                                <label class="form-label" for="form3Example1cg">Author</label>
                            </div>
                            <input type="text" id="form3Example1cg"
                                class="form-control form-control-lg border border-dark" placeholder="Enter Post Name" />

                        </div>

                        <div class="form-outline mb-4">
                            <div class="fields-two text-center bold">
                                <label class="form-label" for="form3Example3cg">Title</label>
                            </div>
                            <input type="text" id="form3Example1cg" name="PostTitle"
                                class="form-control form-control-lg border border-dark"
                                placeholder="Enter Post title" />

                        </div>

                        <div class="form-outline mb-4">
                            <div class="fields-three text-center bold">
                                <label class="form-label" for="form3Example4cg">Category</label>
                            </div>
                            <div class="input-group mb-3">
                                <select class="custom-select w-100 p-3" id="inputGroupSelect01" name="category">
                                    <option selected>Choose...</option>
                                    <option value="1">Video</option>
                                    <option value="2">Music</option>
                                    <option value="3">Ebooks</option>
                                    <option value="4">Slides</option>
                                    <option value="5">Images</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-outline mb-4">
                            <div class="fields-two text-center bold">
                                <label class="form-label" for="form3Example3cg">Price</label>
                            </div>
                            <input type="number" step="0.01" id="form3Example1cg" name="price"
                                class="form-control form-control-lg border border-dark"
                                placeholder="Enter Price" />

                        </div>

                        <div class="form-outline mb-4">
                            <div class="fields-four text-center bold">
                                <div class="md-form text-center ">
                                    <label for="description">
                                        <h4>Description</h4>
                                    </label>
                                    <textarea type="text" id="description" name="PostDescription" rows="4"
                                        class="form-control md-textarea"></textarea>

                                </div>
                            </div>


                        </div>
                         <input class="form-control form-control-lg" name="upload" id="formFileLg" type="file" accept="audio/*,video/*,image/*, .pptx, .pdf, .epub" required/>
                    <div class="clearfix py-2 my-2"> <span class="badge rounded-pill bg-success px-2 fw-bold">Accepted
                            File Types</span> <span class="px-1 fw-bold ">Audio, Images, Videos, .pdf, .epub, .pptx</span>
                    </div>

                        <div class="form-check d-flex justify-content-center mb-5 bold">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" required/>
                            <label class="form-check-label" for="form2Example3g">
                                I agree all statements in <a href="#!" class="text-body"><u>Terms of service for
                                        Posting</u></a>
                            </label>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button id="post-button" type="submit" class="btn btn-success btn-block text-center btn-lg ">Make
                                Post</button>
                        </div>



                    </form>


                </div>
            </div>
        </div>
        <div class="col col-sm-3 px-5">
           
        </div>


    </div>

</div>
<footer class="pb-5 text-white">
    <div class="container text-center">
        <a href="/about-team" class="text-decoration-none">
            <p class="font-italic mb-0 text-white py-2">SFSU CSC648 Team 7</p>
        </a>
    </div>
</footer>