<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" type="text/css" href="/public/css/message.css" >
  </head>
  <body>
    <section class="message">
        <div class="content">
            <h2>Message Owner</h2>
            <p>Hello</p>
        </div>
        <div class="container">
        <div class="messageInfo">
            <div class="box">
                {{!-- <div class="icon"></div> --}}
                <div class="text">
                    <h3>Title: Ebook Author</h3>
                    <p>Info </p>
                </div>
            </div>
            <div class="box">
                {{!-- <div class="icon"></div> --}}
                <div class="text">
                    <h3>Title: Name of Ebook</h3>
                    <p>Info about Ebook goes here</p>
                </div>
            </div>
            <div class="box">
                {{!-- <div class="icon"></div> --}}
                <div class="text">
                    <h3>Title: Description</h3>
                    <p>E book Description</p>
                </div>
            </div>
        </div>
        <div class="messageForm">
            <form>
                <h2>Send Message</h2>
                <div class="inputbox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                 <div class="inputbox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                 <div class="inputbox">
                    <textarea required="required"></textarea>
                    <span>Type your message...</span>
                </div>
                 <div class="inputbox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
        </div>
    </section>
  </body>
</html>
