<section class="Meet_Team">
      <h1>
        <span class="wordAbout">Rai'd Muhammad</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    
    <section class="Pictures main-container">
      <div class="CEO divisor">
      
        <img class="imgAboutMe" src="/public/silhouette.jpg" />
        <div class="leadWord">
        <h1>Backend Lead</h1></div>
        <div class="singleBox">
          I am an Undergraduate Student attending SFSU. 
          My favorite programmming language is TypeScript. I have completed programs
           in <br>C++, html, Java and Javascript. <br> 
          I am originally from Virginia and have continued my Studies in CA. My previous 
          major was biology but Computer Science peaked my interest. 
        </div>
      <div class="gitLink">
<a  href="https://github.com/RINO-GAELICO">GitHub</a>
      </div>
<h1><a href="/">Back to Home</a></h1>
      </div>

    </section>

