<!--- 
    Filename: signup.handlebars

    Purpose: Sign Up Page Form 

    Author: Rai'd Muhammad, Team: 07

    Course: CSC648 SFSU 
--->


<div>

  <div class="mask d-flex align-items-center h-100 mt-2 position-relative">
    <div class="container-fluid w-75 ">
      <div class="row d-flex justify-content-center align-items-center h-100 ">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 ">
          <h3 class=" text-center mb-5 text-white">Registration Page</h3>
          <div class="card " style="border-radius: 50px;">
            <div class="card-body p-5 ">
              <h2 class="text-uppercase text-center mb-5 bg-dark text-white bold">SIGN UP</h2>

              <form>

                <div class="form-outline mb-4 ">
                  <div class="fields-one text-center bold">
                    <label class="form-label " for="form">Your Name</label>
                  </div>
                  <input type="text" id="form" class="form-control form-control-lg border border-dark"
                    placeholder="Enter Full Name" />

                </div>

                <div class="form-outline mb-4">
                  <div class="fields-two text-center bold">
                    <label class="form-label" for="form3">Your Email</label>
                  </div>
                  <input type="email" id="form" class="form-control form-control-lg border border-dark"
                    placeholder="Enter Your Email" />

                </div>

                <div class="form-outline mb-4">
                  <div class="fields-three text-center bold">
                    <label class="form-label" for="form3">Password</label>
                  </div>
                  <input type="password" id="form" class="form-control form-control-lg border border-dark"
                    placeholder="Enter Your Password" />

                </div>

                <div class="form-outline mb-4">
                  <div class="fields-four text-center bold">
                    <label class="form-label" for="form">Repeat your password</label>
                  </div>
                  <input type="password" id="form" class="form-control form-control-lg border border-dark"
                    placeholder="Re Enter Your Password" />

                </div>

                <div class="form-check d-flex justify-content-center mb-5 bold">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form23cg" />
                  <label class="form-check-label" for="form2">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block text-center btn-lg ">Sign
                    Up!</button>
                </div>

                <p class="text-center text-muted mt-3 mb-0">Do you already have an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="pb-3 text-white">
  <div class="container text-center">
    <a href="/about-team" class="text-decoration-none">
      <p class="font-italic mb-0 text-white py-2">SFSU CSC648 Team 7</p>
    </a>
  </div>
</footer>