/* 
    Filename: style.css

    Purpose: General Styling of Nav and About page 
    
    Author: Gineton Alencar, Duccio Rocca, Yoshimasa Iwano, Rai'd M. Team: 07
    
    Course: CSC648 SFSU

 */

.bg-lightgreen {
  background-color: rgb(39, 67, 66);
}

.bg-green {
  background-color: rgb(78, 92, 85);
}

.bg-greenOne {
  background-color: rgb(61, 72, 67);
}

img {
  object-fit: fill;
}

.header-fall22 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

/* .Special_num {
  text-decoration: bold;
  color: white;
} */
.meet-team {
  font-size: 35px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bolder;
}

body {
  margin: auto;
  background-color: rgb(17, 41, 40);
  background: radial-gradient(circle, rgb(15, 44, 43), rgb(59, 84, 76));
}
/*Profiles*/
.pictures img {
  max-height: 15%;
  max-width: 15%;
  object-fit: contain;
}
.ceo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  flex-wrap: nowrap;
}
/* .Leads1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}
.Leads2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}
.LeadNames1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 40px;
  gap: 75px;
  flex-wrap: no-wrap;
}
.LeadNames2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 40px;
  gap: 100px;
  flex-wrap: no-wrap;
}
.Positions1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 0;
  gap: 80px;
  flex-wrap: no-wrap;
} 
*/
/* .linkAbout1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 0;
  gap: 80px;
  margin-bottom: 0.5rem;
  flex-wrap: no-wrap;
}
.linkAbout2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 0;
  gap: 80px;
  margin-bottom: 0.5rem;
  flex-wrap: no-wrap;
}
.Positions2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-left: 10px;
  gap: 100px;
  flex-wrap: no-wrap;
} */
.team-info {
  background-color: lightskyblue;
}
.team-info h1 {
  text-align: center;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: white;
  margin: 1rem;
  padding: 0.5rem;
  /* text-decoration: underline; */
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.single-box {
  display: flex;
  justify-content: center;
  text-align: left;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
  color: white;
  padding-left: 20rem;
  padding-right: 20rem;
}

.git-link {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.img-about-me {
  border: 0.0625rem solid grey;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 4px 1px #4d2828;
  margin: 0.9rem;
}

.word-about {
  padding: 0.5rem;
}

.lead-word {
  padding: 0.7rem;
}

.bg-grey {
  background-color: #dcdcdc;
}

.bold {
  font-weight: bold;
}

.btn-group-search {
  display: flex;

  /* border-radius: 4px 4px 4px 4px; */
  /* border-style: groove;
  border-width: thin; */
}

#navbarSupportedContent
  > ul
  > li.nav-item.btn-group-search.active.m-auto.px-2.my-1
  > form
  > div {
  outline: none;
  text-decoration: none;
  padding: 8px;
}

#dropdown-menu {
  text-align: center;
  text-decoration: none;
  outline: none;
}
#navbarSupportedContent
  > ul
  > li.nav-item.btn-group-search.active.m-auto.px-2.my-1 {
  width: auto;
}

.search-text {
  border-style: solid;
  border: none;
  border-width: 1px;
  border: 1px solid #cccccc;
  text-indent: 0.3rem;
  min-width: 550px;
  max-width: 550px;
  height: 50px;
  font-size: 25px;
  text-align: center;
}

.navbar-container {
  display: flex;
}

.nav-item {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.open-caret {
  transform: rotate(0.5turn);
  transition: all 0.25s ease-out;
}

.select:hover {
  background: #7a7c86;
}

.active-item {
  background: #83889d;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 3rem;
  grid-template-rows: repeat(1, auto);
  margin-top: 20px;
  margin: 1rem;
  padding: 0.5rem;
  row-gap: 3rem;
}

@media screen and (max-width: 600px) {
  .pl-sm-0 {
    padding-left: 0;
  }
  .pr-sm-0 {
    padding-right: 0;
  }
  .ml-sm-1 {
    margin-left: 0.5rem;
  }
  .mr-sm-1 {
    margin-right: 0.5rem;
  }
  .ml-sm-auto {
    margin-left: auto;
  }
  .mr-sm-auto {
    margin-right: auto;
  }
  .mw-sm-25 {
    max-width: 25%;
  }
  .team-leader {
    text-align: center;
  }
  .team-leader img {
    max-width: 100%;
    height: 200px;
    width: 200px;
  }
  .members {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .person {
    flex-direction: column;
    margin: auto;
    padding: 1rem;
  }
  .members img {
    max-width: 100%;
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .pl-md-0 {
    padding-left: 0;
  }
  .pr-md-0 {
    padding-right: 0;
  }
  .ml-md-1 {
    margin-left: 0.5rem;
  }
  .mr-md-1 {
    margin-right: 0.5rem;
  }
  .ml-md-auto {
    margin-left: auto;
  }
  .mr-md-auto {
    margin-right: auto;
  }
  .mw-md-20 {
    max-width: 20%;
  }
  .team-leader {
    text-align: center;
  }
  .team-leader img {
    max-width: 100%;
    height: 250px;
    width: 250px;
  }
  .members {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .person {
    flex-direction: column;
    margin: auto;
    padding: 1rem;
  }
  .members img {
    max-width: 100%;
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .pl-xl-0 {
    padding-left: 0;
  }
  .pr-xl-0 {
    padding-right: 0;
  }
  .ml-xl-1 {
    margin-left: 0.5rem;
  }
  .mr-xl-1 {
    margin-right: 0.5rem;
  }
  .ml-xl-auto {
    margin-left: auto;
  }
  .mr-xl-auto {
    margin-right: auto;
  }
  .mw-xl-15 {
    max-width: 15%;
  }
  .team-leader {
    text-align: center;
  }
  .team-leader img {
    max-width: 100%;
    height: 350px;
    width: 350px;
  }
  .members {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .person {
    flex-direction: column;
    margin: auto;
    padding: 1rem;
  }
  .members img {
    max-width: 100%;
    height: 250px;
    width: 250px;
  }
}

#navbarSupportedContent > li {
  color: rgb(183, 176, 136);
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;

}
