<!--HomePage--->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="HomeStyle.CSS" />
    <title>Home Page</title>
  </head>
  <!---Header starts--->
  <header id="Head">
    <section class="Title">
      <h1>Team <span class="Special_num">7</span></h1>
    </section>
  </header>
  <!---Body starts--->
  <body>
    <section class="Meet_Team">
      <h1>
        <span class="word1">Meet the </span><span class="word2">Team.</span>
      </h1>
    </section>
    <!---Team profile pics and about me-->
    <section class="Pictures">
      <div class="CEO">
        <img src="user pin.png" />
        <h1>Gineton Alencar</h1>
        <h1>Team lead</h1>
        <h1><a href="Aboutme_Template.html">About</a></h1>
      </div>
      <div class="Leads1">
        <img src="user pin.png" />
        <img src="user pin.png" />
        <img src="user pin.png" />
      </div>
      <div class="LeadNames1">
        <h1>Eddie Fu</h1>
        <h1>Yoshimasa Iwano</h1>
        <h1>Duccio Rocca</h1>
      </div>
      <div class="Positions1">
        <h1>Frontend Lead</h1>
        <h1>GitHub Master</h1>
        <h1>Backend Lead</h1>
      </div>
      <div class="Leads2">
        <img src="user pin.png" />
        <img src="user pin.png" />
        <img src="user pin.png" />
      </div>
      <div class="LeadNames2">
        <h1>Dominique Henry</h1>
        <h1>Kobe Shelby</h1>
        <h1>Rai’d S. Muhammad</h1>
      </div>
      <div class="Positions2">
        <h1>GitHub</h1>
        <h1>Frontend</h1>
        <h1>Backend</h1>
      </div>
    </section>
    <section class="TeamInfo">
      <h1>About the Team</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, obcaecati? Voluptas neque cupiditate sed laudantium accusamus veniam minima recusandae sunt. Adipisci ex id eos odio totam quod vitae incidunt consectetur molestias nobis quasi, earum soluta deleniti eligendi nesciunt voluptas, voluptatem veritatis laudantium accusamus delectus. Temporibus impedit nihil consequuntur consectetur ratione sit mollitia eum deleniti officia iste labore eaque ut dolor incidunt minus placeat, vel libero suscipit, reiciendis voluptate earum quod tempora ipsa. Laborum quia ex mollitia necessitatibus rerum expedita numquam quis molestias, itaque alias voluptates maxime corporis et voluptatibus sit!</p>
    </section>
  </body>
</html>
